<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @sale.owner_name%></h1>
    <p>
      O usuário <%= @buyer_name %>  está intessado em "<%= @sale.title %>". Seu email de contato é  <%= @buyer_email %> 
    </p>
  </body>
</html>