<body bgcolor="#B0C4DE">
<font size="4" color="#B8860B" face="Segoe Print"><h1 align="center"> Mercadão USP</h1></font>

<p><p><p><p><font size="5" color="#8B795E" face="Segoe Script"><u><h2 align="center"> Editando oferta</h2></u></font></p></p></p></p>
<font color="#556B2F" face="Segoe Script">
<p align="center">
 
<%= render 'form' %>
</p>
</body>
<%= link_to 'Voltar ao índice de anúncios', sales_path %>